.f-title-big {
  font-size:40px;
  font-weight: bold;
  // letter-spacing:.2rem;
}

.f-black {
  color: black
}
.f-white {
  color: white;
}

.f-s-14 {
  font-size: 14px;
}





.f-title {
  font-size: 15px;
  font-weight: 600;
}

.f-blue {
  color: blue
}